h1,
p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

body,
html,
:root {
    background-color: rgb(24, 24, 24);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.button {
    position: absolute;
    transition: 0.2s;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #69f58e;
    cursor: pointer;
}

.div {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text {
    font-size: 14rem;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(20, 20, 20);
}
